{% extends "dashboard/main.html" %}

{% block title %}Bucket Details{% endblock title %}

{% block content %}

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-12">
            <div class="bg-secondary rounded h-100 p-4">
                <h4 class="mb-4">Bucket Visualizations</h4>
                <div>
                    <label for="timeframe">Select Time Frame:</label>
                    <select onchange="window.location.href = '{% url "bucketDetails" bucket.id %}?period=' + this.value;" id="timeframe" onchange="updateChart(this.value)">
                        <option value="1mo" {% if period == '1mo' %} selected {% endif %} >1 Month</option>
                        <option value="3mo" {% if period == '3mo' %} selected {% endif %} >3 Months</option>
                        <option value="6mo" {% if period == '6mo' %} selected {% endif %} >6 Months</option>
                        <option value="1y" {% if period == '1y' %} selected {% endif %} >1 Year</option>
                        <option value="5y" {% if period == '5y' %} selected {% endif %} >5 Years</option>
                        <option value="10y" {% if period == '10y' %} selected {% endif %} >10 Years</option>
                    </select>
                </div>
                <canvas id="stockChart" width="800" height="200"></canvas>

                <script>
                    // Parse the JSON data passed from the backend
                    var stockData = JSON.parse('{{ stock_data_json|escapejs }}');
            
                    // Initialize arrays to hold labels and datasets
                    var labels = [];
                    var datasets = [];
            
                    // Loop through each stock symbol's data
                    Object.keys(stockData).forEach(function(symbol) {
                        var data = stockData[symbol];
            
                        // Extract date and Adj_close values
                        var dates = data.map(function(item) {
                            return item[0];
                        });
                        var adjClose = data.map(function(item) {
                            return item[1];
                        });
            
                        // Add a new dataset for the current symbol
                        datasets.push({
                            label: symbol,
                            data: adjClose,
                            fill: false,
                            borderColor: getRandomColor()
                        });
            
                        // Use dates from the first symbol as labels
                        if (labels.length === 0) {
                            labels = dates;
                        }
                    });
            
                    // Create a new Chart using Chart.js
                    var ctx = document.getElementById('stockChart').getContext('2d');
                    var myChart = new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: labels,
                            datasets: datasets
                        },
                        options: {
                            scales: {
                                xAxes: [{
                                    type: 'time',
                                    time: {
                                        displayFormats: {
                                            day: 'MMM D'
                                        }
                                    }
                                }],
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: false,
                                    }
                                }]
                            }
                        }
                    });
            
                    // Function to generate random color
                    function getRandomColor() {
                        var letters = '0123456789ABCDEF';
                        var color = '#';
                        for (var i = 0; i < 6; i++) {
                            color += letters[Math.floor(Math.random() * 16)];
                        }
                        return color;
                    }
                </script>
            </div>
        </div>
        <div class="col-sm-12 col-xl-12">
            <div class="bg-secondary rounded h-100 p-4">
                <h4 class="mb-4">Key Performance Indiicators</h4>
                <h6>Select Symbol</h6>
                <div class="d-flex align-items-start">
                    <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist"
                        aria-orientation="vertical">
                        {% for ticker in tickers %}
                        <button style="margin: 20px;" class="nav-link " id="v-pills-{{ticker}}-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-{{ticker}}" type="button" role="tab"
                            aria-controls="v-pills-{{ticker}}" aria-selected="true"><span style="font-size: 20px;" >{{ticker}}</span></button>
                        {% endfor %}
                    </div>
                    <div class="tab-content p-4" id="v-pills-tabContent">
                        {% for stock_symbol, kpi_values in stock_kpi.items %}
                            <div class="tab-pane fade" style="padding-left: 200px;" id="v-pills-{{ stock_symbol }}" role="tabpanel" aria-labelledby="v-pills-{{ stock_symbol }}-tab">
                                <table class="table table-bordered" style="font-size: 20px; border-color: #6c7293;">
                                    <thead>
                                        <tr>
                                            <th style="padding: 20px;" scope="col">KPI</th>
                                            <th style="padding: 20px;" scope="col">Value</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for kpi, values in kpi_values.items %}
                                        <tr>
                                            <th style="padding: 20px;" scope="row">{{kpi}}</th>
                                            <td style="padding: 20px;">{{values|floatformat:"4"}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}