{% extends "dashboard/main.html" %}

{% block title %}Details{% endblock title %}

{% block content %}

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-12">
            <div class="bg-secondary rounded h-100 p-4">
                <h4 class="mb-4">Bucket Visualizations</h4>
                <div>
                    <label for="timeframe">Select Time Frame:</label>
                    <select onchange="window.location.href = '{% url "bucketDetails" bucket.id %}?period=' + this.value;" id="timeframe" onchange="updateChart(this.value)">
                        <option value="1mo" {% if period == '1mo' %} selected {% endif %} >1 Month</option>
                        <option value="3mo" {% if period == '3mo' %} selected {% endif %} >3 Months</option>
                        <option value="6mo" {% if period == '6mo' %} selected {% endif %} >6 Months</option>
                        <option value="1y" {% if period == '1y' %} selected {% endif %} >1 Year</option>
                        <option value="5y" {% if period == '5y' %} selected {% endif %} >5 Years</option>
                        <option value="10y" {% if period == '10y' %} selected {% endif %} >10 Years</option>
                    </select>
                </div>
                <canvas id="stockChart" width="800" height="200"></canvas>

                <script>
                    // Parse the JSON data passed from the backend
                    var stockData = JSON.parse('{{ stock_data_json|escapejs }}');
            
                    // Initialize arrays to hold labels and datasets
                    var labels = [];
                    var datasets = [];
            
                    // Loop through each stock symbol's data
                    Object.keys(stockData).forEach(function(symbol) {
                        var data = stockData[symbol];
            
                        // Extract date and Adj_close values
                        var dates = data.map(function(item) {
                            return item[0];
                        });
                        var adjClose = data.map(function(item) {
                            return item[1];
                        });
            
                        // Add a new dataset for the current symbol
                        datasets.push({
                            label: symbol,
                            data: adjClose,
                            fill: false,
                            borderColor: getRandomColor()
                        });
            
                        // Use dates from the first symbol as labels
                        if (labels.length === 0) {
                            labels = dates;
                        }
                    });
            
                    // Create a new Chart using Chart.js
                    var ctx = document.getElementById('stockChart').getContext('2d');
                    var myChart = new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: labels,
                            datasets: datasets
                        },
                        options: {
                            scales: {
                                xAxes: [{
                                    type: 'time',
                                    time: {
                                        displayFormats: {
                                            day: 'MMM D'
                                        }
                                    }
                                }],
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: false,
                                    }
                                }]
                            }
                        }
                    });
            
                    // Function to generate random color
                    function getRandomColor() {
                        var letters = '0123456789ABCDEF';
                        var color = '#';
                        for (var i = 0; i < 6; i++) {
                            color += letters[Math.floor(Math.random() * 16)];
                        }
                        return color;
                    }
                </script>
            </div>
        </div>
        <div class="col-sm-12 col-xl-12">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Key Performance Indiicators</h6>
                <div class="d-flex align-items-start">
                    <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist"
                        aria-orientation="vertical">
                        {% for ticker in tickers %}
                        <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-home" type="button" role="tab"
                            aria-controls="v-pills-home" aria-selected="false">{{ticker}}</button>
                        {% endfor %}
                        <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-home" type="button" role="tab"
                            aria-controls="v-pills-home" aria-selected="true">Home</button>
                        <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-settings" type="button" role="tab"
                            aria-controls="v-pills-settings" aria-selected="false">Settings</button>
                    </div>
                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                            Consetetur at sit est sit ut ipsum clita at. Sit elitr sit sea dolor tempor eos sit, erat diam ea rebum clita no ea. Et amet sed nonumy sadipscing dolor et ut sed et. Stet eirmod est nonumy clita invidunt rebum. Nonumy dolor ut diam invidunt eirmod nonumy sed gubergren,.
                        </div>
                        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                            Tempor et kasd accusam duo et dolor no accusam dolore, dolor sed voluptua duo no, sit et stet lorem dolor ipsum tempor consetetur vero, consetetur est eos sit eirmod erat diam accusam sadipscing sit. Takimata erat ea eirmod tempor elitr dolore sadipscing kasd justo, elitr tempor sed eos sadipscing magna.
                        </div>
                        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                            Sed kasd kasd ea clita sed lorem amet tempor est voluptua, labore stet dolores gubergren clita lorem sed nonumy at. Dolores et ut erat voluptua. Est voluptua stet accusam rebum, elitr amet sit takimata sea eirmod. Sanctus elitr amet sit dolore sea stet et ut. Dolor et sanctus elitr ut.
                        </div>
                        <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                            Sit et vero kasd sea et at, aliquyam takimata et et est, labore et takimata sed ut stet sanctus, nonumy dolor invidunt sit labore et, amet et dolor sit dolor tempor et dolor ipsum nonumy, accusam clita sadipscing ut et labore labore est, dolore accusam vero at est sit. Invidunt.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}