{% extends "dashboard/main.html" %}

{% block title %}Create Bucket{% endblock title %}

{% block content %}

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-12">
            <div class="bg-secondary rounded h-100 p-4">
                <h3 class="mb-4">Create a new Stock Bucket</h3>
                <form>
                    <div class="row mb-3">
                        <label for="" class="col-sm-2 col-form-label">Bucket Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="bot_name">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="" class="col-sm-2 col-form-label">Pick Your Stocks</label>
                        <select class="form-select" multiple aria-label="multiple select example">
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                        <span>(Hold down Control on Windows or Command on Mac to select Multiple Values)</span>
                    </div>
                    
                    <button type="submit" class="btn btn-primary">Create</button>
                </form>
            </div>
        </div>
    </div>
</div>




{% endblock content %}