{% extends "dashboard/main.html" %}

{% block title %}Create Bot{% endblock title %}

{% block content %}

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-6">
            <div class="bg-secondary rounded h-100 p-4">
                <h3 class="mb-4">Create Your New αlphaBot</h3>
                <form action="{% url "createBot" %}" method="post">
                    {% csrf_token %}
                    <div class="row mb-3">
                        <label required for="" class="col-sm-2 col-form-label">Bot Name</label>
                        <div class="col-sm-10">
                            <input required type="text" class="form-control" name="bot_name">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="" class="col-sm-2 col-form-label">Select Bucket</label>
                        <div class="col-sm-10">
                            <select class="form-select mb-3" name="bucket_id" aria-label="Default select example">
                                {% for bucket in buckets %}
                                <option value="{{bucket.id}}">{{bucket.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="" class="col-sm-2 col-form-label">Trading Strategy</label>
                        <div class="col-sm-10">
                            <select class="form-select" name="strategy_id" aria-label="Default select example">
                                {% for strategy in strategies %}
                                <option value="{{strategy.id}}">{{strategy.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        {% comment %} <select name="symbol_list" class="form-select" multiple aria-label="multiple select example">
                            {% for strategy in strategies %}
                            <option value="{{strategy.id}}">{{strategy.name}}</option>
                            {% endfor %}
                        </select>
                        <span>(Hold down Control on Windows or Command on Mac to select Multiple Values)</span> {% endcomment %}
                    </div>
                    <div class="row mb-3">
                        <label required for="" class="col-sm-2 col-form-label">Amount to be Invested</label>
                        <div class="input-group mb-3">
                            <span class="input-group-text">$</span>
                            <input required type="number" class="form-control" name="investment_amount" aria-label="Amount (to the nearest dollar)">
                            <span class="input-group-text">.00</span>
                        </div>
                    </div>
                    {% comment %} <div class="row mt-3 mb-3">
                        <label for="" class="col-sm-2 col-form-label">Select BackTesting Strategy</label>
                        <div class="col-sm-10">
                            <select class="form-select mb-3" aria-label="Default select example">
                                {% for metric in backtesting %}
                                <option value="{{metric.id}}">{{metric.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div> {% endcomment %}
                    <button type="submit" class="btn btn-primary">Create</button>
                </form>
            </div>
        </div>
    </div>
</div>




{% endblock content %}