{% load static %}

<div class="sidebar pe-4 pb-3">
    <nav class="navbar bg-secondary navbar-dark">
        <a href="{% url "dashboard" %}" class="navbar-brand mx-4 mb-3">
            <h3 class="text">αlphaGenie</h3>
        </a>
        <div class="d-flex align-items-center ms-4 mb-4">
            <div class="position-relative">
                <img class="rounded-circle" src="{% static "images/" %}{{user.traderprofile.profile_image}}" alt="" style="width: 40px; height: 40px;">
                <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
            </div>
            <div class="ms-3">
                <h6 class="mb-0">{{user.first_name}} {{user.last_name}}</h6>
                <span>@{{user.username}}</span>
            </div>
        </div>
        <div class="navbar-nav w-100">
            <a href="{% url "dashboard" %}" class="nav-item nav-link {% if page == "dashboard" %}active{% endif %}"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
            <a href="{% url "markets" %}" class="nav-item nav-link {% if page == "markets" %}active{% endif %}"><i class="fa fa-table me-2"></i>Markets</a>
            <a href="{% url "predictions" %}" class="nav-item nav-link {% if page == "predictions" %}active{% endif %}"><i class="fa fa-chart-bar me-2"></i>Predictions</a>
            <a href="{% url "wallet" %}" class="nav-item nav-link {% if page == "wallet" %}active{% endif %}"><i class="fa fa-wallet me-2"></i>Wallet</a>
            <a href="{% url "viewBuckets" %}" class="nav-item nav-link {% if page == "buckets" %}active{% endif %}"><i class="fa fa-th me-2"></i>Stock Buckets</a>
            <a href="{% url "viewBots" %}" class="nav-item nav-link {% if page == "alphabots" %}active{% endif %}"><i class="fa fa-robot me-2"></i>αlphaBots</a>
            <a href="{% url "profile" %}" class="nav-item nav-link {% if page == "profile" %}active{% endif %}"><i class="fa fa-user me-2"></i>Profile</a>
        </div>
    </nav>
</div>